*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:#000;
    font-family:Arial, Helvetica, sans-serif;
}

canvas{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
}

/* Center Text */

#centerText{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:120px;
    font-weight:bold;
    text-shadow:
    0 0 10px #ff69b4,
    0 0 20px #ff69b4,
    0 0 40px #ff1493,
    0 0 80px #ff1493;
    opacity:0;
    transition:1s;
    z-index:10;
}

/* Heart */

#heartContainer{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:10;
}

.heart{
    position:relative;
    width:220px;
    height:220px;
    background:#ff1493;
    transform:rotate(-45deg);
    animation:beat 1s infinite;
    box-shadow:
    0 0 30px #ff1493,
    0 0 60px #ff69b4,
    0 0 120px #ff1493;
}

.heart::before,
.heart::after{
    content:"";
    position:absolute;
    width:220px;
    height:220px;
    background:#ff1493;
    border-radius:50%;
}

.heart::before{
    top:-110px;
    left:0;
}

.heart::after{
    left:110px;
    top:0;
}

/* Text Inside Heart */

.heartText{
    position:absolute;
    text-align:center;
    color:white;
    z-index:100;
}

.heartText h1{
    font-size:40px;
    text-shadow:
    0 0 10px white,
    0 0 20px #ff69b4,
    0 0 40px #ff1493;
}

.heartText h2{
    margin-top:15px;
    font-size:55px;
    color:#ffe6f2;
    text-shadow:
    0 0 15px white,
    0 0 30px #ff69b4;
}

/* Animation */

@keyframes beat{

    0%{
        transform:rotate(-45deg) scale(1);
    }

    50%{
        transform:rotate(-45deg) scale(1.12);
    }

    100%{
        transform:rotate(-45deg) scale(1);
    }

}

/* Mobile */

@media(max-width:768px){

#centerText{
    font-size:70px;
}

.heart{
    width:160px;
    height:160px;
}

.heart::before,
.heart::after{
    width:160px;
    height:160px;
}

.heart::before{
    top:-80px;
}

.heart::after{
    left:80px;
}

.heartText h1{
    font-size:25px;
}

.heartText h2{
    font-size:35px;
}

}